@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.box-1 {
  background-color: #e97065;
}

.box-2 {
  background-color: #fbd25e;
}

.box-3 {
  background-color: #e86033;
}

.box-1 h2 {
  font-family: 'Rammetto One', cursive;
}

.box-2 h2 {
  font-family: 'Gravitas One', cursive;
}

.box-3 h2 {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

p {
  font-family: 'Comfortaa', cursive;
}
